
@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Caprasimo&family=Roboto&display=swap');
*{
    margin: 0;
}
.p-10{
    padding: 10px;
}

.m_10{
    margin-top: 10px;
}
.flexRow {
    display: flex;
    flex-direction: row;
}

.alignRight {
    margin-left: auto;
    margin-right: 10px;
}

.navbar li,.navbar li a{
    list-style: none;
    text-decoration: none;
    padding: 10px;
}

.navbar li a{
    position: relative;
    color: rgb(2, 2, 66);
}

.navbar li a:hover::after{
    content: "";
    position: absolute;
    left: 25%;
    right: 25%;
    bottom: 0;
    border: 1px solid black;
}

/* Mobile Specific CSS for navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    position: sticky;
    top: 0;
    box-shadow: 1px 2px grey;
    z-index: 9999;
  }

  .navbar h1 {
    margin: 0;
    color: rgb(2, 2, 66);
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  li {
    margin-right: 15px;
  }

  .a_underline{
    text-decoration: none;
    color: rgb(2, 2, 66);
    position: relative;
    padding: 10px;
  }

  /* a:hover::after {
    content: "";
    position: absolute;
    left: 25%;
    right: 25%;
    bottom: 0;
    border: 1px solid black;
  } */

  .toggle-button {
    display: none;
    cursor: pointer;
    color: rgb(2, 2, 66);
  }
  
  .social-icons{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .social-icons li{
    padding: 15px;
    background-color: gainsboro;
    border-radius: 50%;
    margin: 20px;
    transition: ease 0.4s;
  }
  .social-icons li:hover{
    background-color: white;
    
  }
  .social-icons a{
    text-decoration: none !important;
    
  }

  .footer_social_icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  }

  @media only screen and (min-width: 651px) {
    ul {
        display: flex !important;
        /* Override the display property for larger screens */
    }
}

  @media only screen and (max-width: 600px) {
    .navbar {
      flex-direction: row;
      align-items: flex-start;
    }

    .navbar .alignRight{
        display: none;
        margin-right: auto;
    }

    .navbar .flexRow{
        flex-direction: column;
    }

    .navbar h1 {
      margin-bottom: 10px;
    }

    ul {
      flex-direction: column;
      align-items: flex-start;
    }

    .toggle-button {
      display: inline-block;
    }

    li {
      margin-bottom: 10px;
    }
  }

/* Navbar Code ends  */



.main_intro{
    display: block;
    background-color: rgb(0, 0, 32);
}

.description{
    margin: 50px 20px;
    width: 50%;
    color: white;
    font-size: 3.5vw;
    font-family: 'Belanosima', sans-serif;
    z-index: 4;
    display: inline-block;
}

.span{
    color: gold;
}

#element{
    color: rgb(225, 146, 0);
}

.photo,.skills{
    margin: 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
 }

.AddSkill_Btn button, #submitBtn{
    border: none;
    background-color: #00001a;
    color: white;
    border-radius: 10px;
    padding: 0px 10px;
    margin: 0px 5px;
}

#submitBtn:hover{
    background-color: #000046;
}

/* Modal for AddSkill Btn */
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
    z-index: 9999;
  }

  /* Add a backdrop overlay with blur effect */
.modal::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: -1;
    filter: blur(5px); /* Set blur effect */
}

  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
    text-align: center;
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 30px;
    font-weight: 900;
    padding-right: 10px;
    color: #333;
  }

  .close-btn:hover{
    color: black;
    font-weight: 900;
    scale: 1.2;
  }

  .form-group {
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
  }

  input[type="text"],
  input[type="file"],
  textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    resize: none;
    box-sizing: border-box;
    border: 1px solid gray;
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    border-radius: 6px;
  }

  input[type="file"]{
    border: none;
  }

  .preview {
    margin-top: 20px;
  }

  .preview img {
    max-width: 100%;
    max-height: 200px;
    border-radius: 8px;
    margin-top: 10px;
  }
  
  #submitBtn{
    padding: 20px 10px;
  }
/* Modal Ends  */


#hero {
    width:300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgb(0, 0, 55);
    padding: 3px;
    backdrop-filter: blur(10px);
    z-index: 4;
    transition: transform .2s;
}

#hero:hover {
    transform: scale(1.1);
}

.main_box{
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    height: fit-content;
    /* background-color: rgb(2, 2, 66); */
}

canvas {position: absolute; top: 0; left: 0;}

.btn{
    padding: 12px;
    margin-top: 1rem;
    border-radius: 25px;
    background-color: gold;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.btn:hover{
    background-color: rgb(248, 185, 26);
    transition: 0.2s ease-in;
}

.about{
    background-color: rgb(0, 0, 26);
    font-family: 'Belanosima', sans-serif;
    color: white;
    text-align: center;
}
footer .about{
    background-color: transparent;
    font-family: 'Belanosima', sans-serif;
    color: white;
    text-align: center;
}

.about .main_box{
    /* display: flex;
    flex-direction: row; */
    min-width: 50%;
    flex-wrap: wrap;
    
}

.headers{
    position: relative;
    color: white;
    font-size: 4.5vw;
    padding: 40px 0px;
    /* padding-top: 250px; */
    z-index: 999;
}

.headers:before {
    content: '';
    border-bottom: 1.5vw solid #ff4d5a;
    width: 22vw;
    display: block;
    margin: 0 auto;
    position: relative;
    left: 2.4rem;
    top: 4.8vw;
    z-index: -1;
}

#aboutme .span{
    font-size: 24px;
    letter-spacing: 3px;
}

#aboutme{
    margin: 0px 35px;
    font-size: 16px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    flex-wrap: wrap;
}

.skills_row{
    display: flex;
    flex-direction: column;
}

.skill_box{
    width: 100px;
    height: 100px;
    border: 3px solid #ff4d5a;
    margin: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.skill_box img{
    max-width: 70%;
    max-height: 70%;
    margin: 5%;
}

.skill_box p{
    margin-top: auto;
}

#resBtn{
    width: 25%;
    border: none;
}
/* Project section Code Begins */
.projects{
    margin-left: auto;
    background-color: #e5ecfb;
    height: fit-content;
    position: relative;
    padding-bottom: 20px;
}

.subtitle{
    text-align: center;
    font-size: 3vw;
    padding-bottom: 20px;
}

.projects_row {
    width: 90vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.project_box{
    position: relative;
    margin: 10px;
    width: 30%;
    height: 250px;
    border: 1px solid black;
    border-radius: 10px;
}

.projectImg{
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: inherit;
    background: no-repeat cove;
}

.card{
    /* box-shadow: 5px 5px 20px black; */
    overflow: hidden;
} 

.intro{
    width:100%;
    height: 50px;
    position: absolute;
    object-fit: cover;
    background: rgb(27, 27, 27,0.5);
    border-radius: inherit;
    padding: 10px;
    color: white;
    bottom: 0;
    /* bottom: 10.5px; */
    box-sizing: border-box;    
}

.desc{
    visibility: hidden;
    opacity: 0;
}
.card:hover{cursor: pointer;box-shadow: 5px 5px 20px black;}
.card:hover .intro{
    height: inherit;
    cursor: pointer;
    transition: 0.25s ease-in; 
    backdrop-filter: blur(10px);
}
.card:hover .desc{ 
    opacity: 1; 
    visibility: visible; 
}

.intro h1{ padding-bottom: 10px;}

.buttons {
    justify-content: center;
    margin-top: auto;
    margin-bottom: 10px;
}

.buttons button{
    border: none;
    margin-right: 20px;
    border-radius: 8px;
    color: white;
    background-color: black;
}

.viewMore{
    display: block;
    margin: 10px auto;
    background-color: transparent;
    padding: 10px;
    border-radius: 8px;
    color: rgb(0, 0, 55);
    border: 1px solid rgb(0, 0, 55);
    font-family: 'Belanosima', sans-serif;
    font-size: 18px;
}

.viewMore:hover{
    background-color: rgb(0, 0, 55);
    color: #e5ecfb;
}

.flexCol{
    display: flex;
    flex-direction: column;
}

/*Form CSS starts here*/
.form{
    background-color: rgb(236, 236, 236);
    padding-bottom: 20px;
}

.form_container{
    display: flex;
    margin: 0px auto;
    width: 80%;
    height: fit-content;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 25px grey;
    /* border: 1px solid black; */
}

.main_form{
    width: 50%;
    margin: 20px;
}

.input{
    background-color: rgb(236, 236, 236);
    margin: 10px auto;
    padding-left: 10px;
    width: 95%;
    border-radius: 8px;
    border: 0.5px solid black;
}

.input:active{
    border: 1px solid red;
}

.main_form input,.main_form textarea{
    /* margin: 10px auto; */
    width: 90%;
    padding: 10px;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: rgb(236, 236, 236);
    resize: vertical;
    font-size: 16px;
}

/* Footer Css Starts here... */
footer{height: fit-content; background-color: rgb(0, 0, 55);}

.underline{text-decoration: underline; text-decoration-color:gold;}

@media screen and (min-width: 1275px) {
  #aboutme{width: 50%;}
  .photo,.skills{
      width: 45%;
}
}

@media screen and (max-width: 875px) {
    .skills{
        width: 100%;
    }
    .project_box{width: 45%;}
    .form .description{
        display: none;
    }
    .main_form{width: 100%;}
  }

  @media screen and (max-width: 480px) {
    .description {width: 100%;}
    .photo{width: 90%;}
    #hero {width:250px; height: 250px;}
    .skill_box{
        width: 55px;
        height: 55px;
        margin: 5px;
        /* font-size: 14px; */
    }
    .skill_box p{font-size: 12px;}
    .project_box{width: 90%;}
  }
